body {width:100%;padding:0;margin:0;background-color:#FFF;}
ul {list-style-type:none;}
a {text-decoration:none;}
.header{width:100%;height:60px;background-color:#1E1E1E;border-top:solid 2px #29A2D2;border-bottom:solid 2px #29A2D2;}
.header h1{font-family: 'Monda', sans-serif;font-size:22px;color:white;margin:0px 0 0 5%;padding-top:10px;}
.header ul{float:right;margin-top:-32px;margin-right:5%}
.header ul li{text-align:right;display:inline-block;margin:0 10px 0 10px;}
.header ul li a{color:white;font-family: 'Monda', sans-serif;font-size:18px;}
.header ul li a:hover{color:#29A2D2;}
.header ul li a#active{color:#29A2D2;}
.header ul li a#log{color:white;background-color:#D72323;border:solid 2px white;font-family: 'Monda', sans-serif;font-size:18px;padding:0px 10px;border-radius:5px;}
.intro{width:100%;}
.intro h1{padding:5px 0;text-align:center;font-family: 'Monda', sans-serif;color:#002F86;font-size:35px;}
.intro p{padding:0 20%;margin-top:-10px;text-align:center;font-family: 'Monda', sans-serif;color:gray;font-size:16px;}
.intro h3{padding:5px 0%;text-align:center;font-family: 'Monda', sans-serif;color:#002F86;font-size:35px;}
.intro h5{padding:0 0%;margin-top:-30px;text-align:center;font-family: 'Monda', sans-serif;color:gray;font-size:16px;}
.intro img {max-width:28%;}
.intro ul{width:25%;float:left;margin-left:2%;margin-top:-20px;}
.intro ul li{margin:5px 50px 20px 50px;background-color:#29A2D2;border-radius:5px;color:white;}
.intro ul li a{font-family: 'Monda', sans-serif;font-size:20px;padding:5px 20px;color:white;}
.footer {margin-top:100px;width:100%;height:65px;background-color:#1E1E1E;border-top:solid 2px #29A2D2;}
.footer h1{font-family: 'Monda', sans-serif;text-align:center;color:white;
padding:0px 0;font-size:20px;margin-bottom:0px;}
.pageslist{width:30%;margin-top:-20px;}
.pageslist h3{font-family: 'Monda', sans-serif;font-size:20px;color:#42CB4F;text-align:left;padding:5px 8%;}
.pageslist ul{margin-top:-20px;margin-left:20%;width:95%;}
.pageslist ul li{text-align:left;margin:0 10px 0 10px;}
.pageslist ul li a{color:#29A2D2;font-family: 'Monda', sans-serif;font-size:18px;text-align;left;}
.pageslist ul li a:hover{color:#29A2D2;}
.pageslist{}
.pagesrightlist h3{font-family: 'Monda', sans-serif;font-size:20px;color:#42CB4F;text-align:left;padding:5px 8%;}
.pagesrightlist ul{margin-left:50%}
.pagesrightlist ul li{text-align:left;margin:0 10px 0 10px;} 
.pagesrightlist ul li a{color:#29A2D2;font-family: 'Monda', sans-serif;font-size:18px;text-align:left;}
textarea {
border-top: 2px solid #29A2D2;
border-bottom: 2px solid #29A2D2;
margin: 5px;
width:  70%;
height:  80px;
color:#202020;
background:  #DCDCDC;
font-size: 18px;
font-family: 'Monda', sans-serif;
padding:0 10px;
}
