*{
	margin:0;
	padding:0;
}

#container{
	width:100%;
	height:453px;
	position:relative;
}

#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}

#container ul{
	width:100%;
	height:453px;
	list-style:none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;font-size:40px;color:black;
}
#container li h3:first-child{
	display:list-item;
	position:absolute;font-size:40px;color:black;z-index:3000;position:absolute;
}
#container li{
	position:absolute;width:100%;
	display:none;

}
#container li h3{
font-size:40px;color:black;margin-top:1200px;z-index:3000;position:absolute;
}

