body {width:100%;padding:0;margin:0;background-color:#F4F4F4;}
ul {list-style-type:none;}
a {text-decoration:none;}
.header{position;fixed;}
.topheader{width:100%;height:30px;background-color:#292A2A;border-bottom:solid 2px white;}
.topheader h1{margin-left:70px;margin-top:px;padding-top:4px;font-size:14px;color:white;font-family: 'Monda', sans-serif;}
#SmallNav{visibility:hidden;opacity:0;
-webkit-transition: opacity 1.5s linear;
    -moz-transition: opacity 0.9s linear;
    -ms-transition: opacity 0.9s linear;
    -o-transition: opacity 0.9s linear;
    transition: opacity 0.9s linear;}
#Menu{margin-top:10px;visibility:hidden;position:absolute;margin-left:20%;border-radius:5px;color:white;padding:3px 20px;font-family: 'Monda', sans-serif;border:solid 1px white;}
#HideNav{margin-top:10px;visibility:hidden;position:absolute;margin-left:20%;border-radius:5px;color:#29A2D2;background-color:white;padding:3px 20px;font-family: 'Monda', sans-serif;border:solid 1px white;}
#SmallNav ul{position:absolute;margin-left:43%;border-radius:5px;background-color:white;width:40%;margin-top:60px;padding:0;}
#SmallNav ul li{text-align:left;background-color:white;width:100%;color:#29A2D2;padding:8px 0px;}
#SmallNav ul li a{padding-left:20px;text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;}
#SmallNav ul li:hover{background-color:#29A2D2;width:100%;padding:8px 0px;}
#SmallNav ul li:hover a{color:white;font-family: 'Monda', sans-serif;}
.headerback{height:56px;border-bottom:solid 2px white;margin-top:0px;color:#F3F3F3;background-color:#29A2D2;opacity: 0.7;filter: alpha(opacity=70);}
.header2{position:fixed;height:55px;margin-top:-400px;width:100%;z-index:2000;}
.header2 img{-webkit-transition: opacity 1.5s linear;
    -moz-transition: opacity 0.9s linear;
    -ms-transition: opacity 0.9s linear;
    -o-transition: opacity 0.9s linear;
    transition: opacity 0.9s linear;position:absolute;width:100%;z-index:-5;height:56px;border-bottom:solid 2px white;margin-top:0px;opacity: 0.7;filter: alpha(opacity=70);}
.header2 h1{margin-left:80px;font-family: 'Alegreya Sans SC', sans-serif;font-size:46px;color:white;padding:10px 20px 0px 20px;text-shadow: 0px 0px 5px gray;}
img#logotop{position:absolute;float:left;margin-left:10px;margin-top:-400px;width:17%;
opacity: 1;filter: alpha(opacity=80);border-radius:0px 0px 18px 18px;border:solid 0px #29A2D2;z-index:3000;
-moz-transition: opacity 0.9s linear;
    -ms-transition: opacity 0.9s linear;
    -o-transition: opacity 0.9s linear;
    transition: opacity 0.9s linear;}
.header2 img#logoscroll{z-index:150;position:fixed;float:left;margin-left:-50%;margin-top:-40px;width:19%;height:57px;
opacity: 0;border-radius:0px;
-moz-transition: opacity 0.9s linear;
    -ms-transition: opacity 0.9s linear;
    -o-transition: opacity 0.9s linear;
    transition: opacity 0.9s linear;}
.header2 ul#navbar{margin:0px 0;padding-top:0px;margin-top:13px;opacity: 1;filter: alpha(opacity=100);}
.header2 ul#navbar li{display:inline;margin:23px 1.8% 0px 1.8%;}
.header2 ul#navbar li a{padding-right:10px;padding-top:20px;font-size:20px;margin-left:-40px;color:white;text-shadow: 0px 0px 12px gray;font-family: 'Alegreya Sans SC', sans-serif;}
.header2 ul#navbar li a#home{color:#D72323;text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
font-weight:bold;}
.header2 ul#navbar li a:hover{text-shadow: 0px 0px 18px white;font-weight:bold;}
.header2 ul#navbar li a#active{text-shadow: 0px 0px 18px white;font-weight:bold;}
.header2 a#log{float:right;margin:-28px 0px 10px 1.8%;padding:-1px 5px 2px 5px;width:100px;background-color:#D72323;font-size:18px;color:#fff;border-radius:4px;
font-family: 'Monda', sans-serif; font-weight:bold;box-shadow: 3px 1px 8px -2px rgba(107,107,107,1);border:solid 2px white;}
.header2 a#log:hover{font-weight:bold;border:solid 2px white;}
.social{position:absolute;float:right;margin-left:90%;margin-top:-400px;}
.social img{opacity: 1;margin-bottom:30px;border-radius:50px;border:solid 2px white;width:50px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
.social img:hover{opacity: 1;filter: alpha(opacity=100);margin-bottom:20px;border-radius:50px;border:solid 2px white;
-webkit-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
	-webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);}
.slider img{
   margin-top:-57px;border-bottom:solid 3px white;width:100%;height:580px;
}
.slider h1{font-size:72px;font-family: 'Alegreya Sans SC', sans-serif;word-spacing: 30px;margin-top:-300px;color:white;text-shadow: 0px 0px 12px gray;}
.slider h2{font-size:42px;font-family: 'Playball', cursive;font-weight:bold;margin-top:-50px;color:white;text-shadow: 0px 0px 12px gray;background-color:white;border-radius:8px;padding:2px 8px;}
#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}
#container {
	width:100%;margin:-420px 0;padding:0%;margin-left:-2.1%;
	position:absolute;

}

#container ul{
	width:100%;
	height:700px;
	list-style:none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;width:100%;
	position:absolute;font-size:40px;color:white;

	
}


#container li{
	position:absolute;width:100%;
	display:none;

}
#container img{
width:100%;height:525px;
}
#container li h3{
font-size:60px;z-index:3000;color:white;text-align:center;margin-top:-300px;font-family: 'Monda', sans-serif;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

			
}
#container li h3#caption{
opacity:0;
-moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;

			
}
#container li h5{
font-size:40px;z-index:3000;color:#29A2D2;text-align:center;margin-top:-60px;font-family: 'Playball', cursive;
text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.flashclass{ /*sample CSS class added to image slideshow container*/
width: 100%; /*a width should be defined for transition to work*/
padding: 0px;
z-index:-20;
position:absolute;
}

.flashclass img{
border-width: 0;width:100%;height:700px;margin-top:-570px;border-bottom:solid 3px white;
}
.flashclass h1{
font-family: 'Monda', sans-serif;font-weight:bold;margin-top:-270px;font-size:60px;color:white;text-shadow: 0px 0px 12px gray;
}
.flashclass h2{
font-family: 'Monda', sans-serif;font-weight:bold;margin-top:-270px;font-size:60px;color:white;text-shadow: 0px 0px 12px gray;
}
.flashclass h3{
font-family: 'Monda', sans-serif;font-weight:bold;margin-top:-270px;font-size:60px;color:white;text-shadow: 0px 0px 12px gray;
}
.logintop{margin-right:80px;}
.Featuredbanner{position:absolute;width:100%;height:124px;background-color:#292A2A;margin-top:0px;
opacity: 0.7;filter: alpha(opacity=70);margin-bottom:-50px;}
.Featuredbanner img{opacity: 0.7;filter: alpha(opacity=70);width:100%;margin-top:0px;margin-bottom:-50px;}
.Featuredbannertxt h1{margin-top:400px;position:relative;font-family: 'Monda', sans-serif;font-weight:bold;font-size:28px;
text-shadow: 0px 0px 12px gray;color:white;padding-top:30px;text-align:center;padding-bottom:-50px;}
.Featuredbannertxt h2{margin-top:105px;position:absolute;border-radius:8px;
font-family: 'Monda', sans-serif;font-weight:bold;font-size:22px;margin-left:2%;
text-shadow: 0px 0px 12px gray;color:white;background-color:#42CB4F;padding:3px 10px;text-align:center;}

#light  {
font-size:25px;
        opacity: 1;
    }
.hotbutton a{position: absolute;margin:0px -250px;padding:5px 10px;width:450px;background-color:#D72323;font-size:32px;color:#fff;border-radius:10px;
font-family: 'Monda', sans-serif; font-weight:bold;border:solid 2px white;
-webkit-box-shadow: 0px 0px 4px 1px rgba(247,247,247,1);
-moz-box-shadow: 0px 0px 4px 1px rgba(247,247,247,1);
box-shadow: 0px 0px 4px 1px rgba(247,247,247,1);}
.services{width:100%;margin-top:45px;height:150px;background-color:#292A2A;}
.services h1{margin-left:100px;text-align:left;font-family: 'Titillium Web', sans-serif;word-spacing:5px;font-size:24px;color:#29A2D2;}
.services h3{padding:70px 0px;text-align:center;font-family: 'Titillium Web', sans-serif;word-spacing:5px;font-size:26px;color:#D72323;}
.iconsbackground{width:100%;height:630px;margin-bottom:-90px;border-top:solid 3px white;}
.iconsbackground img{width:100%;height:490;}
.headline{width:100%;height:550px;margin-top:-33px;background-image: url("back2.png");
  
}
.headline img{width:100%;height:550px;}
.headline h1{text-align:center;font-size:60px;margin-top:0px;padding:30px 0 0px 0;font-family: 'Alegreya Sans SC', sans-serif;color:white;word-spacing: 10px;}
.headline p{text-align:center;padding:10px 80px;margin-top:0px;font-size:18px;color:white;font-family: 'Monda', sans-serif;}

.iconslist{}
.iconslist ul{margin:-680px 0 0px -2%;}
.iconslist ul li{display:inline-block;height:140px;margin:5% 1% 5% 1%;width:30%;background:rgba(145, 145, 145, 0.7);transition: background-color 1s ease;}
.iconslist ul li img#background{z-index:-20;width:100%;height:140px;opacity:0.8;}
.iconslist ul li#vid:hover{background-color:rgba(255, 0, 110, 0.8);}
.iconslist ul li#cam:hover{background-color:rgba(41, 162, 210, 0.8);}
.iconslist ul li#disc:hover{background-color:rgba(178, 0, 255, 0.8);}
.iconslist ul li#led:hover{background-color:rgba(255, 127, 39, 0.8);}
.iconslist ul li#booth:hover{background-color:rgba(34, 177, 76, 0.8);}
.iconslist ul li#mon:hover{background-color:rgba(215, 35, 35, 0.8);}
.iconslist ul li:hover h1{
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);}
.iconslist ul li h1#vid{color:#FF006E;}
.iconslist ul li h1#cam{color:#29A2D2;}
.iconslist ul li h1#disc{color:#B200FF;}
.iconslist ul li h1#led{color:#FF7F27;}
.iconslist ul li h1#booth{color:#22B14C;}
.iconslist ul li h1#mon{color:#D72323;}

.iconslist  img#backgroundhover{margin-top:-140px;width:100%;height:140px;opacity: 0;filter: alpha(opacity=0);
-moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.iconslist  img#iconround{margin-left:-66%;margin-top:20px;border-radius:120px;border:solid 2px white;width:80px;height:80px;opacity: 0.9;filter: alpha(opacity=90);}
.iconslist ul li h1{font-size:36px;font-family: 'Monda', sans-serif;color:#002F86;position:absolute;margin-top:10px;margin-left:9%;

}
.iconslist ul li p{position:absolute;font-family: 'Monda', sans-serif;margin-left:10%;margin-top:-30px;color:white;}
.iconslist#secondline ul{margin:-100px 0 0px -2%;}
.iconslist#thirdline ul{margin:-110px 0 -50px -2%;}
.iconslist#thirdline  ul li{display:inline-block;height:120px;margin:5% 1% 5% 1%;width:20%;border-top:solid 3px #002F86;}
.iconslist#thirdline  ul li:hover{background-color:rgba(0,47,134,0.7);}
.iconslist#thirdline ul li img#background{z-index:-20;width:100%;height:120px;opacity:0.8;}
.iconslist#thirdline  img#backgroundhover{margin-top:20px;width:100%;height:120px;opacity: 0;filter: alpha(opacity=0);
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.iconslist#thirdline img#iconround{margin-left:-60%;margin-top:20px;border-radius:120px;border:solid 2px white;width:80px;height:80px;opacity: 0.9;filter: alpha(opacity=90);}
.iconslist#thirdline ul li h1{font-size:30px;width:80px;position:absolute;margin-top:0px;margin-left:8%;}
.iconslist ul li:hover  img#backgroundhover{opacity: 0.5;filter: alpha(opacity=0.5);}
.iconslist#thirdline ul li:hover  img#backgroundhover{opacity: 0.5;filter: alpha(opacity=0.5);}
.iconslist ul li:hover  h1{color:white;}
.iconslist ul li:hover  h1#booth{color:white;}
.iconslist ul li:hover  h1#led{color:white;}
.iconslist ul li:hover  h1#vid{color:white;}
.iconslist ul li:hover  h1#disc{color:white;}
.iconslist ul li:hover  h1#mon{color:white;}
.iconslist ul li:hover  h1#cam{color:white;}
.icon  img#iconround{}
.icon {box-shadow: 3px 1px 8px -2px rgba(107,107,107,1);border-top:solid 3px #002F86;border-radius:0px;position:absolute;width:400px;height:140px;margin:-470px 50px 500px 50px;}
.icon  img#background{margin:0px -200px;width:100%;position:absolute;height:140px;opacity: 0.8;filter: alpha(opacity=80);}
.icon  img#backgroundhover{margin:0px -200px;width:100%;position:absolute;height:140px;opacity: 0;filter: alpha(opacity=0);}
.icon  img#iconround{border-radius:120px;border:solid 2px white;margin:30px -180px;width:80px;position:absolute;height:80px;opacity: 0.9;filter: alpha(opacity=90);}
.icon h1{position:absolute;z-index:50;margin-top:10px;text-align:left;font-size:36px;font-family: 'Monda', sans-serif;color:#002F86;margin-left:120px;}
.icon  p{position:absolute;text-align:left;font-size:16px;font-family: 'Monda', sans-serif;color:#292A2A;margin:70px 5px 20px 160px;}
div.icon:hover img#backgroundhover {opacity: 0.5;filter: alpha(opacity=50);
-webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;}

div.icon:hover h1 {color:white;}
.icon#icon2 {margin:-470px 50px 500px 470px;}
.icon#icon3{margin:-470px 50px 500px 890px;}
.icon#icon4{margin:-310px 50px 500px 50px;}
.icon#icon5{margin:-310px 50px 500px 470px;}
.icon#icon6{margin:-310px 50px 500px 890px;}
.iconsmall {box-shadow: 3px 1px 8px -2px rgba(107,107,107,1);border-top:solid 3px #002F86;position:absolute;width:300px;height:100px;margin:-150px 50px 500px 40px;}
.iconsmall  img#background{margin:0px -150px;width:100%;position:absolute;height:100px;opacity: 0.8;filter: alpha(opacity=80);}
.iconsmall  img#backgroundhover{margin:0px -150px;width:100%;position:absolute;height:100px;opacity: 0;filter: alpha(opacity=0);}
.iconsmall  img#iconround{border-radius:120px;border:solid 2px white;margin:10px -130px;width:70px;position:absolute;height:70px;opacity: 0.8;filter: alpha(opacity=80);}
.iconsmall h1{position:absolute;z-index:50;text-align:left;margin-top:0px;font-size:30px;font-family: 'Monda', sans-serif;color:#002F86;margin-left:140px;}
.iconsmall#icon2{margin:-150px 50px 0px 360px;}
.iconsmall#icon3{margin:-150px 50px 0px 680px;}
.iconsmall#icon4{margin:-150px 50px 0px 1000px;}
div.iconsmall:hover img#backgroundhover {opacity: 0.5;filter: alpha(opacity=50);
-webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;}

div.iconsmall:hover h1 {color:white;}
.photobooth{display:none;margin-bottom:50px;margin-right:2%;margin-top:80px;width:280px;float:right;text-align:center;background-color:#D72323;
border:solid 0px #E8E8E8;border-left:solid 0px #E8E8E8;
border-radius:8px;}
.photobooth h1{color:white;font-family: 'Monda', sans-serif;font-size:22px;padding:5px;}
.photobooth h2{color:white;font-family: 'Monda', sans-serif;font-size:14px;padding:5px;}
.photobooth a{color:#D72323;font-family: 'Monda', sans-serif;font-size:20px;padding:15px;
background-color:white;border:solid 0px #E8E8E8;border-left:solid 0px #E8E8E8;border-radius:8px;}
.container2{background-color:#29A2D2;width:100%;height:500px;}
.container2 h1{margin-right:10px;font-size:22px;width:300px;font-family: 'Titillium Web', sans-serif;color:#3DB11F;padding:5px;}
.feedback{width:400px;margin-left:200px;margin-top:20px;float:left;}
.feedback img{width:400px;}
.feedback h3{width:350px;color:#292A2A;font-family: 'Titillium Web', sans-serif;}
.feedback h5{color:#373737;}
.browselist {margin-left:0%;Float:left;width:270px;padding-top:30px;text-align:left;margin-top:-48px;}
.browselist h1{padding:10px 25px;font-family: 'Titillium Web', sans-serif;background-color:#29A2D2;color:white;font-size:28px;}
.browselist ul{padding:10px 20px;margin-top:-19px;background-color:#29A2D2;border-radius:0px;}
.browselist ul li {padding:10px 10px 10px 10px;}
.browselist ul li :hover{background-color:white;}
.browselist ul li a{font-family: 'Monda', sans-serif;font-size:16px;color:white;padding: 5px 10px 5px 10px;}
.browselist ul li a:hover{word-spacing:10px;color:#29A2D2;font-weight:bold;}
.browselist ul li i{ opacity: 0; /* to hide the element */
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.browselist ul li:hover i{opacity: 1; /* to reveal the element */
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;}
.tab1{margin-top:10px;background-image: url("tab1.jpg");width:52%;border-radius:10px;box-shadow:0px 1px 5px #919191;}
.tab1 img{margin-right:50px;margin-top:-320px;float:right;}
.tab1 h1{color:#2DA51D;font-size:38px;font-family: 'Monda', sans-serif;padding:-10px;}
.tab1 p{margin-top:0px;padding:12px 12px;color:white;text-align:center;font-weight:bold;
font-family: 'Titillium Web', sans-serif;font-size:16px;}

.boxtop {width:75%;float:right;background-color:white;height:350px;margin-right:20px;margin-left:20px;box-shadow:0px 1px 5px #919191;}
.boxtop img{float:left;width:450px;margin-right:0px;height:100%;
}
.boxtop h1{font-family: 'Alegreya Sans SC', sans-serif;text-align:left;padding:40px 30px 20px 480px;background-color:#29A2D2;margin-top:0px;color: white;}
.boxtop p{width:50%;margin-top:10px;margin-left:470px;text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;padding:15px;font-size;16px;}

.boxpro {border-bottom:solid 3px #29A2D2;border-top:solid 3px #29A2D2;
margin-top:20px;float:right;width:75%;background-color:white;margin-right:10.7%;
box-shadow:0px 1px 5px #919191;}
.boxpro img{filter: grayscale(50%);float:right;width:100%;margin-right:0px;height:220px;}
.boxpro h1{opacity: 1;filter: alpha(opacity=100);font-family: 'Titillium Web', sans-serif;
position:absolute;
text-align:left;padding:80px 20px;margin-top:-80px;border-radius:250px;
background-color: #29A2D2;margin-left:1%;color:white;}
.boxpro p{margin-top:180px;text-align:cener;font-family: 'Monda', sans-serif;padding:30px 15px 15px 15px;font-size;16px;}
#fullp{opacity:0;}
.boxpro a{margin-top:-5px;padding:2px 5px;background-color:#D72323;font-size:16px;color:#fff;border-radius:3px;
font-family: 'Monda', sans-serif; font-weight:bold;}
.boxpro img:hover{}

.box {border-bottom:solid 3px #D72323;border-top:solid 3px #D72323;margin-top:20px;float:right;width:77%;background-color:white;margin-right:0px;box-shadow:0px 1px 5px #919191;}
.box img{filter: grayscale(50%);float:right;width:100%;margin-right:0px;height:240px;}
.box h1{font-family: 'Titillium Web', sans-serif;position:absolute;text-align:left;padding:10px 50px;margin-top:0px;background-color: #D72323;color:white;}
.box p{margin-top:210px;text-align:left;font-family: 'Monda', sans-serif;padding:30px 15px 15px 15px;font-size;16px;}
#fullp{opacity:0;}
.box a{margin-top:-5px;padding:2px 5px;background-color:#D72323;font-size:16px;color:#fff;border-radius:3px;
font-family: 'Monda', sans-serif; font-weight:bold;}
.box img:hover{}

.flatcontent{border-bottom:solid 2px #29A2D2;border-top:solid 2px #29A2D2;width:100%;height:520px;float:left;background-color:white;margin-top:-16px;}
.flatcontent img{position:absolute;float:right;margin-left:27%;width:280px;}
.flatcontent img#right{position:absolute;float:right;margin-left:32%;width:200px;margin-top:340px;}
.flatcontent img#left{border-top:solid 2px #29A2D2;border-bottom:solid 2px #29A2D2;position:absolute;float:left;margin-left:-48%;width:250px;margin-top:50px;}
.flatcontent h1{color:#002F86;font-size:53px;font-family: 'Monda', sans-serif;}
.flatcontent h5{margin-top:-45px;color:#2DE257;font-size:38px;font-family: 'Playball', cursive;word-spacing:20x;}
.flatcontent h3{padding-bottom:10px;
position:absolute;float:left;margin-top:230px;font-family: 'Titillium Web', sans-serif;
width:250px;font-size:21px;color:gray;margin-left:25px;font-weight:normal;}
.flatcontent ul{margin-left:20%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:1%;}
.flatcontent ul li{width:450px;background-color:#FCFCFC;border-radius:4px;border:solid 1px #29A2D2;margin-bottom:10px;padding:-15px;}
.flatcontent ul li:hover{background-color:#29A2D2;color:white;}
.flatcontent ul li:hover h1{color:white;}
.flatcontent ul li h1{font-size:20px;padding:-15px;}
.flatcontent h2{font-size:32px;color:#29A2D2;margin-left:25px;position:absolute;float:left;margin-top:380px;font-family: 'Titillium Web', sans-serif;}
.flatcontent h2#phoneno{font-size:25;color:#29A2D2;margin-left:50px;position:absolute;float:left;margin-top:420px;font-family: 'Titillium Web', sans-serif;}
.flatcontent h2#email{font-size:32px;color:#2DE257;margin-left:25px;position:absolute;float:left;margin-top:480px;font-family: 'Titillium Web', sans-serif;}
.flatcontent h2#mail{font-size:18px;color:gray;margin-left:50px;position:absolute;float:left;margin-top:520px;font-family: 'Titillium Web', sans-serif;}
.flatcontent a#contact{font-size:18px;color:white;margin-left:-46%;position:absolute;float:left;margin-top:580px;font-family: 'Titillium Web', sans-serif;padding:5px 10px;background-color:#2DE257;}

.flatcontent h4{font-size:18px;color:white;margin-left:83%;position:absolute;float:right;margin-top:280px;font-family: 'Titillium Web', sans-serif;padding:5px 10px;background-color:#D72323;}
.qualitybox{opacity:0;visibility:hidden;position:absolute;z-index:3005;width:50%;background-color:#F4F4F4;margin:100px 25%;border-radius:8px;min-height:200px;border:solid 2px #29A2D2; transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;}
.qualitybox h1{background-color:#29A2D2;margin-top:-0px;color:white;width:100%;font-size:24px;font-family: 'Monda', sans-serif;padding:10px 0;border-radius:6px 6px 0 0;}
.qualitybox p{color:#002F86;font-size:13px;font-family: 'Monda', sans-serif;padding:0 10px 20px 10px;}
.qualitybox a i{font-size:30px;color:white;float:right;margin:10px 20px 0 0;}
#blackfade{
        visibility:hidden;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(43,43,43,0.8);
        z-index:3000;
        opacity:0;

         transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
    }
.galleryhome {width:100%;float:left;}
.galleryhome h1{margin:0;width:100%;padding:20px 0px;background-color:#29A2D2;color:white;font-family: 'Monda', sans-serif;font-size:38px;}
.galleryhome img{width:100%;height:700px;}
.galleryhome img:hover{ -webkit-filter: grayscale(0.6) blur(1px); }

.galleryhome img#gallerylinks {position: relative;margin-top:-500px;width:59%;height:250px;
margin-left:20%;margin-right:20%;left:0;right:0;border:solid 1px white;
opacity: 0;filter: alpha(opacity=0);}
.galleryhome h3#gallerylinks{
	
	width:50%;position:absolute;margin-top:-450px;color:white;text-shadow: 0px 0px 25px gray;
	font-family: 'Monda', sans-serif;font-size:38px;padding:5px 10px;
	border-radius:4px;
	margin-left:24%;margin-right:25%;left:0;right:0;font-weight:bold;
opacity: 0;filter: alpha(opacity=0);
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;}
.galleryhome a#gallerylinks {
	opacity: 0;filter: alpha(opacity=0);
	width:50%;position:absolute;color:white;margin-top:-370px;background-color:#29A2D2;
	text-shadow: 0px 0px 25px gray;font-family: 'Alegreya Sans SC', sans-serif;font-size:45px;padding:5px 10px;border-radius:4px;
	border:solid 2px white;
	margin-left:24%;margin-right:25%;left:0;right:0;font-weight:bold;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.galleryhome:hover a#gallerylinks{opacity: 1;filter: alpha(opacity=100);}
.galleryhome:hover h3#gallerylinks{opacity: 1;filter: alpha(opacity=100);}
.galleryhome:hover img#gallerylinks{opacity: 0.5;filter: alpha(opacity=50);}
.galleryhome:hover  img{ -webkit-filter: grayscale(0.6) blur(1px); }
footer img#background{width:100%;height:400px;margin:0;}
.footer{margin-top:0px;float:left;width:100%;height:400px;background:url('footerback.png') no-repeat;background-size: 100%;}
.footer h1{color:white;text-align:left;margin-left:80px;font-size:38px;font-family: 'Monda', sans-serif;}
.footer a#pricequote{position:absolute;margin-top:-85px;margin-left:200px;padding:5px 10px;background-color:#D72323;font-size:32px;color:#fff;border-radius:10px;
font-family: 'Monda', sans-serif; font-weight:bold;border:solid 2px white;}
.footer p{position:absolute;width:90%;margin:120px 5% 0 5%;color:white;text-align:center;font-size:12px;font-family: 'Monda', sans-serif;}
.footer h2{width:90%;margin-top:220px;margin-bottom:-190px;color:white;text-align:left;margin-left:80px;font-size:18px;font-family: 'Monda', sans-serif;}
.footer ul{position:absolute;width:50%;margin:-20px 0 0 20%;}
.footer ul li{display:inline-block;margin-left:80px;}
.footer ul#socialf li img{border-radius:50px;width:55px;position:absolute;margin-top:15px;border:solid 2px white;padding: 0px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
.footer ul#socialf li img:hover{-webkit-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);
	-webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
	}
.footer a#phone{width:50%;position:absolute;margin: 20px 0% 0 -40%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:22px;}
.footer a#mail{width:50%;position:absolute;margin: 50px 0% 0 -37%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:22px;}
.footerbottom{float:left;margin-top:0px;margin-bottom:-30px;font-family: 'Titillium Web', sans-serif;background-color:#29A2D2;width:100%;}
.footerbottom  h1{margin-top:0px;font-family: 'Titillium Web', sans-serif;color:white;
padding:20px;font-size:22px;margin-bottom:0px;}
.footer a#about{color:#2DE257;padding:2px 5px;background-color:white;font-size:16px;}
.footer ul#payment{margin-top:140px;margin-bottom:0px;margin-left:45%}
.footer ul#payment li{display:inline-block;width:60px;margin-left:20px;}

.footer ul#payment li img{border:0;border-radius:0;width:60px;}
.footer ul#payment li img#paypal{border:0;border-radius:0;width:160px;margin-left:-120px;}

