body {width:100%;padding:0;margin:0;background-color:#FFF;overflow:auto}
ul {list-style-type:none;}
a {text-decoration:none;}
header{position:relative;height:400px;}
.header2{margin-top:0px;}
img#logotop{margin-top:0px;}
#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}
#container {
	width:100%;margin:-420px 0;padding:0%;margin-left:-3%;float:left;
	position:absolute;

}

#container ul{
	width:100%;
	height:700px;
	list-style:none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;width:100%;
	position:absolute;font-size:40px;color:white;

	
}


#container li{
	position:absolute;width:100%;
	display:none;

}
#container img{
width:100%;height:436px;
}
#container li h3{
font-size:60px;z-index:3000;color:white;text-align:center;margin-top:-200px;font-family: 'Monda', sans-serif;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

			
}
#container h1{
font-size:69px;z-index:80;color:white;text-align:center;margin-top:-550px;font-family: 'Monda', sans-serif;position:relative;margin-left:10%;
text-shadow: 2px 0 0 #D72323, -2px 0 0 #D72323, 0 2px 0 #D72323, 0 -2px 0 #D72323, 2px 2px #D72323, -2px -2px 0 #D72323, 2px -2px 0 #D72323, -2px 2px 0 #D72323;


			
}
#container li h3#caption{
opacity:0;
-moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;

			
}
#container li h5{
font-size:40px;z-index:3000;color:#29A2D2;text-align:center;margin-top:-100px;font-family: 'Playball', cursive;
text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#pagetitle{margin-top:0px;margin-bottom:0px;color:black;z-index:3010;font-size:65px;font-family: 'Monda', sans-serif;text-align:center;
text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}
#pagetitle h1{color:black;font-size:65px;margin:-250px 0 200px 0;z-index:5000;font-family: 'Monda', sans-serif;text-align:center;position:relative;overflow:auto;
text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}


.aboutus{}
.aboutus h1{font-size:42px;color:white;background-color:#29A2D2;font-family: 'Alegreya Sans SC', sans-serif;
padding:5px 100px;margin:0;width:50%;word-spacing:5px;}

.aboutus p{font-size:18px;color:gray;font-family: 'Monda', sans-serif;
padding:5px 0px;margin:20px auto;width:78%;word-spacing:5px;}

.philosophy{background-color:#29A2D2;width:74%;}
.philosophy h1{font-size:42px;background-color:white;color:#29A2D2;font-family: 'Alegreya Sans SC', sans-serif;
padding:5px 0px;width:100%;word-spacing:5px;border-top:solid 1px #29A2D2;}
.philosophy p{font-size:20px;color:white;font-family: 'Monda', sans-serif;
padding:20px 0px;margin:-20px auto 0 auto;width:100%;word-spacing:5px;}
.aboutandy h1{margin:50px 0 0 -50%;font-size:32px;color:white;background-color:#29A2D2;font-family: 'Alegreya Sans SC', sans-serif;
padding:5px auto;width:400px;}
.aboutandy img{width:400px;margin:0px 0 0 -50%;margin-bottom:100px;}
.aboutandy p{position:absolute;font-size:16px;color:gray;font-family: 'Monda', sans-serif;
padding:5px 0px;margin:-450px 0 0 45%;width:50%;word-spacing:5px;text-align:left;}
.employment{padding-top:40px;}
.employment h1{color:#002F86;font-size:53px;font-family: 'Monda', sans-serif;}
.employment h4{margin-top:-50px;color:#2DE257;font-size:38px;font-family: 'Playball', cursive;word-spacing:20x;}
.employment p{font-size:16px;color:gray;font-family: 'Monda', sans-serif;
padding:5px 0px;margin:0px 0 0 0;width:90%;word-spacing:5px;}
.employment p#top{font-size:14px;color:gray;font-family: 'Monda', sans-serif;
padding:5px 0px;margin:-50px 0 10px 0;width:75%;word-spacing:5px;}
.employment h3{font-size:22px;color:white;background-color:#29A2D2;
font-family: 'Monda', sans-serif;
padding:10px auto;margin:0;width:60%;word-spacing:5px;}
.employment h2{color:#002F86;font-size:43px;font-family: 'Monda', sans-serif;}
.employment p#second{font-size:14px;color:gray;font-family: 'Monda', sans-serif;
padding:5px 0px;margin:-20px 0 10px 0;width:90%;word-spacing:5px;}
.employment ul{}
.employment li{}
.employment li p{color:#002F86}
.employment h5{color:#D72323;font-size:23px;font-family: 'Monda', sans-serif;}
.employment p#bottom{font-size:16px;color:gray;font-family: 'Monda', sans-serif;
padding:5px 0px;margin:-30px 0 30px 0;width:90%;}
.faqs{width:74%;}
.faqs h1{color:#002F86;font-size:53px;text-align:left;margin:20px 0 -20px 5%;font-family: 'Alegreya Sans SC', sans-serif;}
.faqs h2{color:#D72323;font-size:33px;font-family: 'Alegreya Sans SC', sans-serif;}
.faqs h3{text-align:left;color:#002F86;font-size:23px;font-family: 'Monda', sans-serif;}
.faqs h4{text-align:left;font-size:15px;color:gray;font-family: 'Monda', sans-serif;font-weight:bold;}
.faqs p{text-align:left;font-size:12px;color:gray;font-family: 'Monda', sans-serif;}
.contact{width:76%;}
.contact h1{color:#002F86;font-size:53px;text-align:left;margin:20px 0 -20px 5%;font-family: 'Alegreya Sans SC', sans-serif;}
.contact p{text-align:left;font-size:16px;color:gray;font-family: 'Monda', sans-serif;}
form#contact{width:78%;background-color:#29A2D2;margin-bottom:0px;border-bottom:solid 2px white;}
form#contact h3{color:white;font-size:18px;margin:0px 10%;text-align:left;font-family: 'Monda', sans-serif;}
form#contact input{width:30%;height:30px;margin:8px 50% 8px 0;}
form#contact select{width:30%;height:30px;margin:5px 50% 8px 0;color:#D72323;font-weight:bold;}
form#contact select option{width:30%;height:30px;margin:5px 50% 5px 0;color:gray;font-weight:bold;}
form#contact textarea{width:30%;height:100px;margin:5px 50% 5px 0;}
form#contact input#submit{width:15%;height:40px;margin:5px 35% 15px 0;font-size:18px;font-family: 'Monda', sans-serif;background-color:white;color:#29A2D2;border-radius:4px;border:solid 2px white;}
form#contact input#submit:hover{color:white;background-color:#29A2D2;border:solid 2px white;}
.contactinfo {width:31%;position:absolute;margin:-550px 0 0 42%;border-top:solid 2px white;border-bottom:solid 2px white;}
.contactinfo h3{font-size:14px;text-align:left;color:white;font-family: 'Monda', sans-serif;padding:0 10px;}

.reviews {width:80%;}
.reviews h1{font-size:42px;color:white;background-color:#D72323;font-family: 'Alegreya Sans SC', sans-serif;
padding:5px 100px;margin:20px auto 0 auto;width:60%;}
.reviews h2{color:#002F86;font-size:33px;font-family: 'Alegreya Sans SC', sans-serif;}
.reviews p{width:90%;font-size:16px;color:gray;text-align:left;font-family: 'Monda', sans-serif;padding-bottom:10px;border-bottom:dashed 1px gray;}

.reviews p i{color:#002F86;}
.reviews h5{color:#D72323;font-family: 'Monda', sans-serif;font-size:12px;}
.reviews p span{color:#2DE257;font-weight:bold;}
.whitesection {width:85%;margin:50px 0 100px -20%;min-height:1150px;}
.whitesection h1{text-align:left;
width:80%;padding:0 0 0 10%;color:white;background-color:#002F86;font-size:28px;font-family: 'Monda', sans-serif;}
.whitesection p{text-align:left;width:90%;color:gray;font-size:13px;font-family: 'Monda', sans-serif;margin:-5px 0;}
.whitesection img{float:right;padding: 0 2% 0 2%;max-width:50%;}
.whitecenter {width:83%;min-height:1200px;margin:50px 0 0px 0;}
.whitecenter h1#cntnt{text-align:center;
width:74%;color:white;background-color:#002F86;font-size:36px;font-family: 'Monda', sans-serif;}
.whitecenter p#cntnt{text-align:center;width:75%;color:gray;font-size:13px;font-family: 'Monda', sans-serif;}

.whitesection ul#content{list-style-type: square;margin-left:5%;}
.whitesection ul#content li{text-align:left;color:gray;font-size:12px;font-family: 'Monda', sans-serif;}
.selectservice {width:80%;text-align:center;padding-bottom:0px;}
.selectservice h1{text-align:center;color:#002F86;font-size:32px;font-family: 'Monda', sans-serif;}
.selectservice p{color:gray;font-size:15px;font-family: 'Monda', sans-serif;}
.selectservice a{background-color:#D72323;color:white;font-family:'Monda', sans-serif;border:solid 2px white;font-size:28px;padding:5px 40px;border-radius:8px;margin-bottom:50px;}
form#selectservice {padding-bottom:50px;}
form#selectservice  input{font-size:18px;color:#29A2D2;width:60%;padding:5px;border-radius:5px;border: solid 2px #29A2D2;}
form#selectservice input#selectevent{width:50%;background-color:#D72323;color:white;font-family:'Monda', sans-serif;border:solid 2px white;font-size:28px;padding:5px 40px;border-radius:8px;margin:20px 0;}
form#selectevent input#selectevent:hover{}
.bluesection{background-color:#29A2D2;width:65.3%;min-height:1150px;margin-top:0px;}
.article{width:98%;}
.article h2{font-size:42px;color:white;font-family: 'Alegreya Sans SC', sans-serif;padding:20px 0 0px 0;}
.article h3{font-size:42px;color:white;font-family: 'Alegreya Sans SC', sans-serif;padding:-10px 0 -10px 0;}
.article p{color:white;font-family: 'Monda', sans-serif;font-size:14px;margin-top:-10px;}
.article img{max-width:95%;border:solid 4px white;}
.rightside {position:absolute;width:17%;margin:0 0 0 0%;}
.addbooth {background-color:white;width:100%;padding:5px 5px 30px 0px;margin-top:0px;}
.addbooth h1{font-size:28px;color:#D72323;font-family: 'Playball', cursive;text-align:center;}
.addbooth  h3{font-size:18px;color:#002F86;font-family: 'Monda', sans-serif;padding-top:10px;}
.addbooth  a{}
.addbooth  a#number{font-size:18px;background-color:#42CB4F;color:white;font-family: 'Monda', sans-serif;padding:5px 15px;border-radius:7px;margin-top:-20px;}
.addbooth h2{
font-family: 'Monda', sans-serif;font-weight:bold;font-size:16px;width:100%;
text-shadow: 0px 0px 12px gray;text-align:center;
color:white;background-color:#D72323;padding:3px 3px;}
.addbooth  p{font-size:14px;color:gray;font-family: 'Monda', sans-serif;}
.addbooth  img#serviceslogo{width:95%;padding-bottom:10px;}
.addbooth  ul{width:80%;}
.addbooth  ul li {margin:25px 0 25px -30px;text-align:left;padding:5px 5px 5px 50px;color:white;font-family: 'Monda', sans-serif;font-size:16px;}
.addbooth  ul li img{position:absolute;border-radius:40px;width:40px;padding:0;border:solid 2px white;margin:-20px 0 0 -60;}
.addbooth h5{font-size:18px;color:#002F86;font-family: 'Alegreya Sans SC', sans-serif;padding-bottom:0px;}
.selectdate{margin-top:-22px;width:100%;background-color:#29A2D2;min-height:200px;}
.selectdate h1{padding-top:20px;font-size:38px;color:white;font-family: 'Alegreya Sans SC', sans-serif;}
.selectdate h3{font-size:14px;color:white;font-family: 'Monda', sans-serif;}
.selectdate a{background-color:#D72323;color:white;font-family:'Monda', sans-serif;border:solid 2px white;font-size:28px;padding:5px 40px;border-radius:8px;margin-bottom:50px;}
form#selectevent {padding-bottom:50px;}
form#selectevent  input{font-size:18px;color:#29A2D2;width:50%}
form#selectevent input#selectevent{font-size:25px;background-color:white;color:#29A2D2;font-family: 'Monda', sans-serif;padding:5px 15px;border-radius:7px;border:solid 2px #29A2D2;width:35%;margin-top:20px;}
form#selectevent input#selectevent:hover{}
.gallerypage {background-color:#343434;padding-bottom:50px;padding-top:50px;border-bottom:solid 2px white;}
.galleryitems h1{font-size:42px;color:white;font-family: 'Monda', sans-serif;word-spacing:5px;padding-top:40px;border-bottom:solid 3px white;width:50%;padding-bottom:10px;}
.galleryitems h2{margin-top:-20px;font-size:28px;width:50%;color:#29A2D2;font-family: 'Alegreya Sans SC', sans-serif;word-spacing:5px;}
.galleryitems img{position:absolute;width:160px;height:100px;border:solid 3px white;-webkit-transition:border-color 1s ease; -moz-transition:border-color 1s ease; -o-transition:border-color 1s ease; transition:border-color 1s ease;}
.galleryitems ul{width:100%;margin-left:-3%}
.galleryitems ul li{display:inline-block;width:13%;margin:8px 50px;
}
.gal_box{width:100%;}
.gal_box:hover img{-webkit-transition:border-color 1s ease; -moz-transition:border-color 1s ease; -webkit-box-shadow: 0px 3px 13px 0px rgba(181,181,181,1);
-moz-box-shadow: 0px 3px 13px 0px rgba(181,181,181,1);
box-shadow: 0px 3px 13px 0px rgba(181,181,181,1);}
.gal_box:hover h3{border:solid 2px white;}
.gal_box img#top{margin-left:-80px;margin-top:-130px;}
.gal_box img#middle{margin-left:-95px;margin-top:-140px;}
.gal_box img#bottom{margin-left:-110px;margin-top:-150px;}
.gal_box h3{margin-left:-20px;margin-top:150px;font-size:18px;background-color:#29A2D2;color:white;border:solid 2px #343434;font-family: 'Monda', sans-serif;padding:5px 10px 5x 10px;border-radius:5px;
-webkit-transition:border-color 1s ease; -moz-transition:border-color 1s ease; -o-transition:border-color 1s ease; transition:border-color 1s ease;}
.gal_box h5{margin-left:-20px;color:white;margin-top:-10px;font-size:16px;color:white;}
.gal_box i{color:white;position:absolute;font-size:30px;margin-top:-195px;margin-left:-35px;opacity:0;

    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.gal_box:hover i{opacity:1;
text-shadow: 2px 0 0 #D72323, -2px 0 0 #D72323, 0 2px 0 #D72323, 0 -2px 0 #D72323, 2px 2px #D72323, -2px -2px 0 #D72323, 2px -2px 0 #D72323, -2px 2px 0 #D72323;}
.gallery {background-color:#343434;margin-top:-30px;border-top:solid 2px white;border-bottom:solid 2px white;padding-bottom:20px;}
.gallery h1{font-size:42px;color:white;font-family: 'Monda', sans-serif;word-spacing:5px;padding-top:5px;}
.gallery a{margin-top:10px;border:solid 2px white;font-size:30px;color:white;font-family: 'Monda', sans-serif;word-spacing:5px;padding:5px 10px;}
.gallery a:hover{border:solid 2px #29A2D2;background-color:#29A2D2;color:white;}
.gallery ul{margin:20px 0% 0 -3.2%;max-width:100%;padding-bottom:20px;}
.gallery ul li{display:inline-block;width:19.5%;margin:0 0% 0% 0.3%;padding:0;border:0}
.gallery ul li img{width:100%;height:200px;margin:0;padding:0;border:solid 2px white;}
.gallery ul li img:hover{border:solid 2px #29A2D2;}
.gnav{margin-top:100px;width:17%;float:left;padding:1%;}
.gnav ul li{margin-top:20px;text-align:left;background-color:#29A2D2;width:100%;padding:5px;border:solid 2px #29A2D2;
-webkit-transition:border-color 1s ease; -moz-transition:border-color 1s ease; -o-transition:border-color 1s ease; transition:border-color 1s ease;}
.gnav ul li a{padding-left:20px;font-family: 'Monda', sans-serif;font-size:16px;color:white;width:100%;}
.gnav ul a i{opacity:0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.gnav ul li:hover{border:solid 2px white;}
.gnav ul li:hover i{opacity:1;}
.gnav ul li#active i{opacity:1;color:#29A2D2;}
.gnav ul li#active a{opacity:1;color:#29A2D2;}
.gnav ul li#active{border:solid 2px #29A2D2;background-color:white;color:#29A2D2;}
.gnav ul li#back{text-align:left;background-color:#42CB4F;width:100%;padding:5px;border:solid 2px white;color:white;}
.gnav ul li#back i{opacity:1;border:0;}
.gallerylist#center{width:96%;margin-left:0%}
.gallerylist#center ul{width:100%;}
.gallerylist#center ul li{display:inline-block;width:12%;margin:10px 1%;font-size:0;}
.gallerylist{width:85%;margin-left:14%}
.gallerylist ul{width:90%;}
.gallerylist ul li{display:inline-block;width:15%;margin:10px 1%;font-size:0;}
.gallerylist ul li img.small{width:100%;border:solid 3px white;height:120px;
-webkit-transition:border-color 1s ease; -moz-transition:border-color 1s ease; -o-transition:border-color 1s ease; transition:border-color 1s ease;}
.gallerylist ul li i{font-size:30px;color:white;margin-top:-80px;margin-left:-1%;
opacity:0;
text-shadow: 1px 0 0 #29A2D2, -1px 0 0 #29A2D2, 0 1px 0 #29A2D2, 0 -1px 0 #29A2D2, 1px 1px #29A2D2, -1px -1px 0 #29A2D2, 1px -1px 0 #29A2D2, -1px 1px 0 #29A2D2;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.gallerylist ul li:hover i{opacity:1;}
.gallerylist ul li:hover img{border:solid 3px #29A2D2;
-webkit-box-shadow: 0px 1px 13px 0px rgba(181,181,181,1);
-moz-box-shadow: 0px 1px 13px 0px rgba(181,181,181,1);
box-shadow: 0px 1px 13px 0px rgba(181,181,181,1);}
.light_box{visibility:hidden;opacity:0;z-index: 3005;margin:-500px 10%;max-height:500px;height:400px;text-align:center;width:100%;
-webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.light_box img{height:500px;border:solid 6px white;
}
.light_box i{color:#D72323;font-size:30px;margin-top:0;position:absolute;margin-left:69%;margin-top:-10px;
}
.light_box h3{color:white;font-family: 'Monda', sans-serif;font-size:30px;margin-top:-100px;
}
.light_box p{background-color: rgba(73, 73, 73, 0.8);width:69%;margin:80px 15%;color:white;position:absolute;text-align:center;font-family: 'Monda', sans-serif;font-size:16px;padding:5px;z-index: 3006;}
.expanditem{z-index:3002;}
.item_box{visibility:hidden;opacity:0;width:60%;z-index:3005;margin:50px 20%;position:absolute;
}
.item_box img{height:500px;border:solid 6px white;width:100%;
}
.item_box i{color:white;font-size:30px;margin-top:30px;margin-bottom:-40px;float:right;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);}
.item_box i#right{color:#29A2D2;font-size:30px;margin:-250px -100px 0 0;float:right;}
.item_box i#left{color:#29A2D2;font-size:30px;float:left;margin:-250px 0px 0 -80;}
.item_box h3{color:white;font-family: 'Monda', sans-serif;font-size:30px;margin-top:-100px;

}
.item_box p{background-color: rgba(73, 73, 73, 0.8);width:90%;margin:-20px 0%;color:white;text-align:center;font-family: 'Monda', sans-serif;font-size:16px;padding:5px;z-index:4000;}
#blackfade{
        visibility:hidden;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(43,43,43,0.8);
        z-index:3000;
        opacity:0;

         transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
    }
.leftbar{position:absolute;width:17%;background-color:white;Border-radius:0px;margin:20px 0 0 83%;}
.leftbar h1{font-size:28px;color:#42CB4F;font-family: 'Alegreya Sans SC', sans-serif;text-align:center;}
.leftbar ul{padding:0;}
.leftbar ul li{padding:10px 0;width:90%;border-top:dashed 1px #29A2D2;color:#29A2D2;}
.leftbar ul li a{font-family: 'Monda', sans-serif;font-size:16px;color:#29A2D2;}
.leftbar ul li i{opacity:0;color:#42CB4F;margin-left:-25px;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;}
.leftbar ul li:hover a{color:#42CB4F;}
.leftbar ul li:hover i{opacity:1;color:#42CB4F;}
form#fullquote{width:70%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:#002F86;font-size:20px;margin-left:10%;}
form#fullquote label{position:absolute;width:17%;text-align:left;font-family: 'Monda', sans-serif;font-size:16px;color:#29A2D2;}
form#fullquote label#centered{position:relative;width:200px;text-align:center;font-family: 'Monda', sans-serif;font-size:16px;color:#29A2D2;}
form#fullquote input{font-family: 'Alegreya Sans SC', sans-serif;color:#002F86;padding:5px 10px;font-size:16px;width:50%;margin-bottom:20px;margin-left:30%;}
form#fullquote input[type=checkbox]{font-family: 'Alegreya Sans SC', sans-serif;color:green;padding:0px 0px;font-size:16px;width:50px;margin-bottom:20px;margin-left:1%;}
form#fullquote input#check{font-family: 'Alegreya Sans SC', sans-serif;color:green;padding:0px 0px;font-size:16px;width:50px;margin-bottom:20px;margin-left:1%;}
form#fullquote input#time{font-family: 'Alegreya Sans SC', sans-serif;color:green;font-size:20px;padding:5px 3px;font-size:16px;width:150px;margin-bottom:20px;margin-left:2%;margin-right:2%;}
form#fullquote select{background-color:#29A2D2;color:white;padding:5px 10px;font-size:16px;width:50%;margin-bottom:20px;margin-left:30%;}
form#fullquote option{padding:5px 10px;font-size:16px;}
form#fullquote input#date{border:0;background-color:#29A2D2;color:white;padding:5px 10px;font-size:16px;width:50%;margin-bottom:20px;margin-left:30%;}
form#fullquote textarea{padding:5px 10px;font-size:16px;width:80%;max-width:100%;margin-bottom:20px;margin-left:0%;min-height:150px;font-family: 'Monda', sans-serif;color:#002F86;}
form#fullquote input#cap{padding:5px 3px;color:red;font-size:16px;width:150px;margin-bottom:20px;margin-left:30%;}
form#fullquote input#submit{padding:5px 3px;color:red;font-size:16px;width:50%;margin-bottom:20px;margin-left:25%;font-size:25px;color:white;background-color: #D72323;font-family: 'Monda', sans-serif;border-radius:7px;border:solid 2px white;}
form#fullquote input#submit:hover{padding:5px 3px;color:red;font-size:16px;width:50%;margin-bottom:20px;margin-left:25%;font-size:25px;background-color:white;color:#29A2D2;font-family: 'Monda', sans-serif;border-radius:7px;border:solid 2px #29A2D2;}
form#fullquote select:hover{background-color:white;color:#29A2D2;padding:5px;}
form#fullquote input::-webkit-input-placeholder{
  font-family: 'Alegreya Sans SC', sans-serif;color:#002F86;
}
form#fullquote textarea::-webkit-input-placeholder{
  font-family: 'Monda', sans-serif;color:#002F86;
}
form#fullquote input#time::-webkit-input-placeholder{
  font-family: 'Alegreya Sans SC', sans-serif;color:green;
}
form#fullquote input#check::-webkit-input-placeholder{
  font-family: 'Alegreya Sans SC', sans-serif;color:green;
}
form#fullquote input#cap::-webkit-input-placeholder{
  font-family: 'Alegreya Sans SC', sans-serif;color:red;
}
::-webkit-check {
    color: red;
    background: black;
    padding: 1em;
}
