@media (max-width:1920px) {
.flatcontent ul{margin-left:20%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:10.7%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.1%;}
.iconsbackground img{width:100%;height:583;}
.iconslist#secondline ul{margin:-150px 0 0px -2%;}
.iconslist#thirdline ul{margin:-160px 0 -50px -2%;}
}
@media (max-width:1920px) {
.flatcontent ul{margin-left:20%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:10.7%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.1%;}
.iconsbackground img{width:100%;height:583;}
.iconslist#secondline ul{margin:-150px 0 0px -2%;}
.iconslist#thirdline ul{margin:-160px 0 -50px -2%;}
}
@media (max-width:1920px) {
.flatcontent ul{margin-left:20%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:10.7%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.1%;}
.iconsbackground img{width:100%;height:583;}
.iconslist#secondline ul{margin:-150px 0 0px -2%;}
.iconslist#thirdline ul{margin:-160px 0 -50px -2%;}
}
@media (max-width:1900px) {
.flatcontent ul{margin-left:20%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:10.6%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.2%;}
.iconsbackground img{width:100%;height:583;}
.iconslist#secondline ul{margin:-150px 0 0px -2%;}
.iconslist#thirdline ul{margin:-160px 0 -50px -2%;}
}
@media (max-width:1899px) {
.flatcontent ul{margin-left:14%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:7.8%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.6%;}
.iconsbackground img{width:100%;height:563;}
.iconslist#secondline ul{margin:-130px 0 0px -2%;}
.iconslist#thirdline ul{margin:-130px 0 -50px -2%;}
}
@media (max-width:1580px) {
.flatcontent ul{margin-left:14%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:7.6%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.6%;}
.iconsbackground img{width:100%;height:563;}
.iconslist#secondline ul{margin:-130px 0 0px -2%;}
.iconslist#thirdline ul{margin:-130px 0 -40px -2%;}
}
@media (max-width:1579px) {
.flatcontent ul{margin-left:11%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:6%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.8%;}
.iconsbackground img{width:100%;height:563;}
.iconslist#secondline ul{margin:-100px 0 0px -2%;}
.iconslist#thirdline ul{margin:-110px 0 -40px -2%;}
}
@media (max-width:1420px) {
.flatcontent ul{margin-left:20%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:5.8%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-2.9%;}
.iconsbackground img{width:100%;height:563;}
.iconslist#secondline ul{margin:-100px 0 0px -2%;}
.iconslist#thirdline ul{margin:-110px 0 -40px -2%;}
}
@media (max-width:1419px) {
.flatcontent ul{margin-left:30%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:4.9%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-3.03%;}
.iconsbackground img{width:100%;height:530;}
.iconslist#secondline ul{margin:-100px 0 0px -2%;}
.iconslist#thirdline ul{margin:-110px 0 0px -2%;}
}

@media (max-width:1346px) { 
.flatcontent ul{margin-left:30%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:4.4%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-3.10%;}
.iconsbackground img{width:100%;height:530;}
.iconslist#secondline ul{margin:-100px 0 0px -2%;}
.iconslist#thirdline ul{margin:-110px 0 0px -2%;}
}
@media (max-width:1345px) {
.boxtop p{width:47%;padding:15px;font-size;14px;}
.flatcontent ul{margin-left:9.5%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:3%;}
.boxpro {width:75%;margin-right:3.4%;}
#container{margin-left:-3.20%;}
.iconsbackground img{width:100%;height:480;}
.iconslist#secondline ul{margin:-100px 0 0px -2%;}
.iconslist#thirdline ul{margin:-110px 0 0px -2%;}
.header2 ul#navbar {margin-left:80px;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:40%;}
}
@media (max-width:1260px) { 
.boxpro {width:76%;margin-right:3.3%;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:40%;}
#container{margin-left:-3.50%;}
.iconslist ul li h1{font-size:28px;}

}@media (max-width:1261px) {
.header2 ul#navbar li a{padding-right:10px;padding-top:30px;font-size:17px;}
.tab1 p{margin-left:0.5%;width:35%;padding:120px 20px 80px 20px;text-align:left;font-weight:bold;font-family: 'Titillium Web', sans-serif;font-size:18px;}
.boxtop {width:75%;float:right;background-color:white;height:350px;margin-right:20px;margin-left:20px;box-shadow:0px 1px 5px #919191;}
.boxtop img{width:350px;}
.boxtop p{width:50%;margin-top:-10px;margin-left:380px;font-size;16px;}
.boxtop h1{font-family: 'Alegreya Sans SC', sans-serif;text-align:left;font:size:26px;padding:40px 30px 20px 380px;background-color:#29A2D2;margin-top:0px;color:white;}
.headline h1{font-size:40px;}
.headline p{font-size:17px;}
.box {width:70%;}
.boxtop {width:72%;}
.boxpro {width:70%;margin-right:6.1%;}
.boxpro p{font-size:13px;}
.iconsbackground img{width:100%;height:470;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-3.50%;}
#container li h3{font-size:40px;padding-bottom:20px;}
			
}
.iconslist ul li h1{font-size:28px;}
.iconslist#secondline ul{margin:-90px 0 0px -2%;}
.iconslist#thirdline ul{margin:-90px 0 0px -2%;}
.iconslist#thirdline ul li h1{font-size:25px;}
.flatcontent ul{margin-left:4%;margin-top:-20px;float:left;}
.galleryhome h1{font-size:30px;}
.footer a#pricequote{position:absolute;margin-top:-85px;margin-left:200px;padding:5px 10px;background-color:#D72323;font-size:25px;color:#fff;border-radius:10px;}
.footer h2{font-size:14px;}
}
@media (max-width:1132px) {
.header2 ul#navbar li a{padding-right:10px;padding-top:30px;font-size:17px;}
.tab1 p{margin-left:0.5%;width:35%;padding:120px 20px 80px 20px;text-align:left;font-weight:bold;font-family: 'Titillium Web', sans-serif;font-size:18px;}
.boxtop {width:75%;float:right;background-color:white;height:350px;margin-right:20px;margin-left:20px;box-shadow:0px 1px 5px #919191;}
.boxtop img{width:350px;}
.boxtop p{width:50%;margin-top:-10px;margin-left:380px;font-size;16px;}
.boxtop h1{font-family: 'Alegreya Sans SC', sans-serif;text-align:left;font:size:26px;padding:40px 30px 20px 380px;background-color:#29A2D2;margin-top:0px;color:white;}
.headline h1{font-size:40px;}
.headline p{font-size:17px;}
.box {width:70%;}
.boxtop {width:72%;}
.boxpro {width:70%;margin-right:5.6%;}
.boxpro p{font-size:13px;}
.iconsbackground img{width:100%;height:465;}
.footer ul#payment{margin-top:140px;margin-bottom:-120px;margin-left:45%;}
#container{margin-left:-3.80%;}
.iconslist ul li h1{font-size:28px;}
.iconslist#secondline ul{margin:-90px 0 0px -2%;}
.iconslist#thirdline ul{margin:-90px 0 0px -2%;}
.iconslist#thirdline ul li h1{font-size:25px;}
.flatcontent ul{margin-left:4%;margin-top:-20px;float:left;}
.galleryhome h1{font-size:30px;}
.footer a#pricequote{position:absolute;margin-top:-85px;margin-left:200px;padding:5px 10px;background-color:#D72323;font-size:25px;color:#fff;border-radius:10px;}
.footer h2{font-size:14px;}
}
@media (max-width:1133px) { 
#container{margin-left:-4.0%;}
.tab1 p{margin-left:0.5%;width:35%;padding:120px 20px 80px 20px;text-align:left;font-weight:bold;font-family: 'Titillium Web', sans-serif;font-size:18px;}
.topcontainer ul li{display:inline;margin:0px 5px;}
.headline{width:100%;height:520px;}
.headline h1{font-size:40px;margin-bottom:-80px;}
.headline p{position:absolute;text-align:left;margin-left:3%;margin-top:-50px;width:65%;font-size:17px;padding:10px;color:white;font-family: 'Monda', sans-serif;}
.boxtop {width:74%;}
.boxtop p{width:45%;margin-top:30px;margin-left:450px;
text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;padding:15px;font-size;16px;}
.boxpro {width:74%;}
.box {border-bottom:solid 3px #D72323;border-top:solid 3px #D72323;
margin-top:20px;float:right;width:74%;background-color:white;margin-right:0px;box-shadow:0px 1px 5px #919191;}
.box img{filter: grayscale(50%);float:right;width:100%;margin-right:0px;height:240px;}
.footer ul#payment{margin-top:150px;margin-bottom:-120px;margin-left:46%;}
.social{position:absolute;float:right;margin-left:85%;margin-top:-400px;}
.header2 ul#navbar {margin-left:80px;}
.header2 ul#navbar li a{padding-right:15px;padding-top:100px;font-size:17px;margin-left:-40px;color:white;text-shadow: 0px 0px 12px gray;font-family: 'Alegreya Sans SC', sans-serif;}
.logintop{margin-right:20px;}
.Featuredbannertxt h1{margin-top:400px;position:relative;font-family: 'Monda', sans-serif;font-weight:bold;font-size:20px;
text-shadow: 0px 0px 12px gray;color:white;padding-top:30px;text-align:center;padding-bottom:-50px;}
.hotbutton a{position: absolute;margin:10px -200px;padding:5px 10px;width:400px;background-color:#D72323;font-size:30px;color:#fff;border-radius:10px;
font-family: 'Monda', sans-serif; font-weight:bold;border:solid 2px white;}
.services h3{padding:70px 20px;text-align:center;font-family: 'Titillium Web', sans-serif;word-spacing:5px;font-size:22px;color:#D72323;}
.flatcontent ul{margin-left:0.1%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:0.5%;}
.galleryhome img{width:100%;height:550px;}
.boxtop {width:75%;float:right;background-color:white;height:300px;margin-right:20px;margin-left:20px;box-shadow:0px 1px 5px #919191;}
.boxtop img{float:left;width:350px;margin-right:0px;height:100%;}
.boxtop h1{font-family: 'Alegreya Sans SC', sans-serif;text-align:left;padding:20px 10px 20px 340px;background-color:#29A2D2;margin-top:0px;color: white;}
.boxtop p{width:44%;margin-top:-30px;margin-left:320px;text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;padding:15px;font-size:14px;}
.browselist {margin-left:0%;Float:left;width:200px;padding-top:30px;text-align:left;margin-top:-43px;}
.browselist h1{padding:10px 10px;font-family: 'Titillium Web', sans-serif;background-color:#29A2D2;color:white;font-size:20px;}
.browselist ul{padding:10px 10px;margin-top:-19px;background-color:#29A2D2;border-radius:0px;padding-bottom:50px;}
.browselist ul li {padding:10px 5px 10px 5px;}
.browselist ul li :hover{background-color:white;}
.browselist ul li a{font-family: 'Monda', sans-serif;font-size:14px;color:white;padding: 5px 5px 5px 5px;}
.browselist ul li a:hover{color:#29A2D2;font-weight:bold;}
.photobooth{display:none;}
.headline p{position:absolute;text-align:left;margin-left:3%;margin-top:100px;width:95%;font-size:17px;padding:10px;color:white;font-family: 'Monda', sans-serif;}
.boxpro p{margin-top:180px;text-align:cener;font-family: 'Monda', sans-serif;padding:10px 10px 10px 10px;font-size;14px;}
.iconslist ul li h1{z-index:100;font-size:28px;font-family: 'Monda', sans-serif;color:#002F86;position:absolute;margin-left:9%;}
.iconsbackground img{width:100%;height:429;}
.footer h2{font-size:14px;margin-left:20px}
.footer a#phone{width:50%;position:absolute;margin: 20px 0% 0 -40%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:18px;}
.footer a#mail{width:50%;position:absolute;margin: 50px 0% 0 -37%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:18px;}
.iconslist  img#iconround{margin-left:-66%;margin-top:20px;border-radius:120px;border:solid 2px white;width:60px;height:60px;opacity: 0.9;filter: alpha(opacity=90);}
.iconslist#thirdline img#iconround{margin-left:-66%;margin-top:20px;border-radius:120px;border:solid 2px white;width:60px;height:60px;opacity: 0.9;filter: alpha(opacity=90);}
.iconslist ul li{display:inline-block;height:120px;margin:7% 1% 5% 1%;}
.iconslist#thirdline ul li{display:inline-block;height:100px;margin:6% 1% 6% 1%;width:22%;}
.iconslist ul li p{font-size:14px;}
}
@media (max-width:1020px) { 
#container{margin-left:-5.1%;}
.tab1 p{margin-left:0.5%;width:35%;padding:120px 20px 80px 20px;text-align:left;font-weight:bold;font-family: 'Titillium Web', sans-serif;font-size:18px;}
.topcontainer ul li{display:inline;margin:0px 5px;}
.headline{width:100%;height:570px;}
.headline h1{font-size:30px;margin-bottom:-80px;}
p#head{font-size:14px;padding:5%;width:90%;margin:70px 0;}
.boxtop {width:74%;}
.boxtop p{width:45%;margin-top:30px;margin-left:450px;
text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;padding:15px;font-size;16px;}
.boxpro {width:74%;margin-right:0%;}
.box {border-bottom:solid 3px #D72323;border-top:solid 3px #D72323;
margin-top:20px;float:right;width:72%;background-color:white;margin-right:0px;box-shadow:0px 1px 5px #919191;}
.box img{filter: grayscale(50%);float:right;width:100%;margin-right:0px;height:240px;}
.footer ul#payment{margin-top:150px;margin-bottom:-120px;margin-left:30%;}
.social{position:absolute;float:right;margin-left:85%;margin-top:-400px;}
.header2 ul#navbar {display:none;}
.header2 ul#navbar li a{padding-right:15px;padding-top:100px;font-size:14px;margin-left:-40px;color:white;text-shadow: 0px 0px 12px gray;font-family: 'Alegreya Sans SC', sans-serif;}
.logintop{margin-right:20px;}
.Featuredbannertxt h1{margin-top:400px;position:relative;font-family: 'Monda', sans-serif;font-weight:bold;font-size:20px;
text-shadow: 0px 0px 12px gray;color:white;padding-top:30px;text-align:center;padding-bottom:-50px;}
.hotbutton a{position: absolute;margin:10px -200px;padding:5px 10px;width:400px;background-color:#D72323;font-size:30px;color:#fff;border-radius:10px;
font-family: 'Monda', sans-serif; font-weight:bold;border:solid 2px white;}
.services h3{padding:70px 20px;text-align:center;font-family: 'Titillium Web', sans-serif;word-spacing:5px;font-size:22px;color:#D72323;}
.flatcontent ul{margin-left:10%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:2%;}
.flatcontent ul li{width:250px;background-color:#FCFCFC;border-radius:4px;border:solid 1px #29A2D2;margin-bottom:10px;padding:-15px;}
.galleryhome img{width:100%;height:550px;}
.galleryhome h1{font-size:22px;}
.galleryhome h3#gallerylinks{font-size:25px;}
.galleryhome a#gallerylinks{font-size:25px;}
.galleryhome img#gallerylinks {height:200px;}
.boxtop {width:68%;float:right;background-color:white;height:300px;margin-right:0px;margin-left:0px;box-shadow:0px 1px 5px #919191;}
.boxtop img{float:left;width:250px;margin-right:0px;height:100%;}
.boxtop h1{font-family: 'Alegreya Sans SC', sans-serif;text-align:left;font-size:20px;padding:10px 10px 10px 270px;background-color:#29A2D2;margin-top:0px;color: white;}
.boxtop p{width:44%;margin-top:0px;margin-left:270px;text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;padding:5px;font-size:12px;}
.browselist {margin-left:0%;Float:left;width:200px;padding-top:30px;text-align:left;margin-top:-43px;}
.browselist h1{padding:10px 10px;font-family: 'Titillium Web', sans-serif;background-color:#29A2D2;color:white;font-size:20px;}
.browselist ul{padding:10px 10px;margin-top:-19px;background-color:#29A2D2;border-radius:0px;padding-bottom:50px;}
.browselist ul li {padding:10px 5px 10px 5px;}
.browselist ul li :hover{background-color:white;}
.browselist ul li a{font-family: 'Monda', sans-serif;font-size:14px;color:white;padding: 5px 5px 5px 5px;}
.browselist ul li a:hover{color:#29A2D2;font-weight:bold;}
.photobooth{display:none;}
.headline p{position:absolute;text-align:left;margin-left:3%;margin-top:100px;width:95%;font-size:17px;padding:10px;color:white;font-family: 'Monda', sans-serif;}
.boxpro p{margin-top:180px;text-align:cener;font-family: 'Monda', sans-serif;padding:10px 10px 10px 10px;font-size;14px;}
.iconslist ul li h1{z-index:100;font-size:28px;font-family: 'Monda', sans-serif;color:#002F86;position:absolute;margin-left:9%;}
.iconsbackground img{width:100%;height:429;}
.footer h2{font-size:14px;margin-left:20px}
.footer a#phone{width:50%;position:absolute;margin: 20px 0% 0 -40%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:18px;}
.footer a#mail{width:50%;position:absolute;margin: 50px 0% 0 -40%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:18px;}
.footer a#pricequote{position:absolute;margin-top:-60px;margin-left:140px;padding:5px 10px;background-color:#D72323;font-size:20px;color:#fff;border-radius:10px;}
.iconslist  img#iconround{margin-left:-66%;margin-top:20px;border-radius:120px;border:solid 2px white;width:40px;height:40px;opacity: 0.9;filter: alpha(opacity=90);}
.iconslist#thirdline img#iconround{margin-left:-66%;margin-top:20px;border-radius:120px;border:solid 2px white;width:40px;height:40px;opacity: 0.9;filter: alpha(opacity=90);}
.iconslist ul li{display:inline-block;height:120px;margin:10% 1% 5% 1%;}
.iconslist#thirdline ul li{display:inline-block;height:80px;margin:10% 1% 6% 1%;width:22%;}
.iconslist#thirdline ul li h1{font-size:20px;}
.iconslist ul li h1{font-size:20px;margin-top:20px;}
.iconslist ul li p{font-size:14px;margin-left:20px;margin-top:8px;}
.footer h1{font-size:28px;}
.footerbottom h1{font-size:16px;}
.footer ul#socialf li img{border-radius:50px;width:40px;position:absolute;margin-top:15px;border:solid 2px white;padding: 0px;}
.footer ul#payment li img{border:0;border-radius:0;width:30px;}
.footer ul#socialf li img{border-radius:50px;width:40px;position:absolute;margin-top:15px;border:solid 2px white;padding: 0px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
#Menu{visibility:visible;}
.header2 a#log{font-weight:bold;border:solid 2px white;margin-top:10px;}
.header2 img#logoscroll{margin-top:-1px;width:200px;}
img#logotop{width:200px;}
.headline{width:100%;height:550px;margin:0;margin-top:-33px;padding:0;background-image: url("back2.png");}
.footer h2{display:none;font-size:14px;margin-left:20px}
.headline img{width:100%;height:550px;padding:0;margin:0;}
.flatcontent h5{margin-top:-20px;color:#2DE257;font-size:25px;font-family: 'Playball', cursive;word-spacing:20x;}
.flatcontent h1{color:#002F86;font-size:30px;padding-bottom:0px;font-family: 'Monda', sans-serif;}
.flatcontent ul li h1{color:#002F86;font-size:16px;padding-bottom:0px;font-family: 'Monda', sans-serif;}
.footer ul#payment{display:none;margin-top:150px;margin-bottom:10px;margin-left:0%;width:100%;}
.social{position:absolute;float:right;margin-left:85%;margin-top:-400px;}
.footer p{position:absolute;width:90%;margin:120px 5% 0 5%;color:white;text-align:center;font-size:12px;font-family: 'Monda', sans-serif;}
ul#socialf img{width:40px;}
.qualitybox{opacity:0;visibility:hidden;position:absolute;z-index:3005;width:70%;background-color:#F4F4F4;margin:100px 15%;border-radius:8px;min-height:200px;border:solid 2px #29A2D2; transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;}
.flatcontent{border-bottom:solid 2px #29A2D2;border-top:solid 2px #29A2D2;width:100%;height:450px;float:left;background-color:white;margin-top:-16px;}
}
@media (max-width:768px) {
#container{margin-left:-5.5%;}
#Menu{margin-left:18%;visibility:visible;}
#HideNav{margin-left:18%;}
.boxpro {width:73%;margin-right:0%;}
.footer a#pricequote{position:absolute;margin-top:-60px;margin-left:140px;padding:5px 10px;background-color:#D72323;font-size:18px;color:#fff;border-radius:10px;}
.Featuredbannertxt h2{display:none;}
#container li h3{font-size:30px;padding-bottom:20px;}
.iconsbackground img{width:100%;height:400;}
.boxtop {height:270px;}
}
@media (max-width:740px) {
#container{margin-left:-9.8%;}
#Menu{margin-left:8%;visibility:visible;}
#HideNav{margin-left:8%;}
p#head{font-size:12px;padding:5%;width:90%;margin:70px 0;}
.boxpro {width:73%;margin-right:0%;}
.footer a#pricequote{position:absolute;margin-top:-60px;margin-left:140px;padding:5px 10px;background-color:#D72323;font-size:18px;color:#fff;border-radius:10px;}
.Featuredbannertxt h2{display:none;}
#container li h3{font-size:30px;padding-bottom:20px;}
.iconsbackground img{width:100%;height:400;}
.boxtop {height:270px;}
.services h3{padding:70px 20px;text-align:center;font-family: 'Titillium Web', sans-serif;word-spacing:5px;font-size:16px;color:#D72323;}
.Featuredbannertxt h1{font-size:16px;}
.social img{opacity: 1;margin-bottom:30px;border-radius:50px;border:solid 2px white;width:30px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
.footer a#pricequote{position:absolute;margin-top:-50px;margin-left:80px;padding:3px 5px;background-color:#D72323;font-size:16px;color:#fff;border-radius:10px;}
.footer h1{margin-left:20px;font-size:20px;}
.footerbottom h1{font-size:14px;padding-left:5px;padding-right:5px;}
.browselist ul{padding:10px 5px;margin-top:-19px;background-color:#29A2D2;border-radius:0px;padding-bottom:50px;}
.browselist ul li {padding:8px 5px 8px 5px;}
.browselist ul li :hover{background-color:white;}
.browselist ul li a{font-family: 'Monda', sans-serif;font-size:13px;color:white;padding: 3px 3px 3px 3px;}
.browselist ul li a:hover{color:#29A2D2;}
.browselist {margin-left:0%;Float:left;width:170px;}
.boxtop img{float:left;width:250px;margin-right:0px;height:100%;display:none;}
.boxtop h1{font-family: 'Alegreya Sans SC', sans-serif;text-align:left;font-size:20px;padding:10px 10px 10px 20px;background-color:#29A2D2;margin-top:0px;color: white;}
.boxtop p{width:92%;margin-top:0px;margin-left:20px;text-align:left;color:#29A2D2;font-family: 'Monda', sans-serif;padding:5px;font-size:12px;}
.boxtop {height:200px;}
.boxpro {width:70%;margin-right:0%;}
.boxpro h1{display:none;}
.box{width:70%;}
.box h1{font-size:20px;}
.box p{font-size:12px;}
.iconslist ul li{display:inline-block;height:120px;margin:12% 0.5% 8% 0.5%;}
.iconslist#thirdline ul li{display:inline-block;height:80px;margin:10% 1% 6% 1%;width:22%;}
.iconslist#thirdline ul li h1{font-size:16px;}
.iconslist ul li h1{font-size:16px;margin-top:20px;padding-left:5px;}
.iconslist ul li p{font-size:11px;margin-left:20px;margin-top:8px;}
.iconslist ul{margin:-680px 0 0px -8%;}
.iconslist#secondline ul{margin-left:-8%;}
.iconslist#thirdline ul{margin-left:-8%;}
.headline h1{font-size:23px;margin-bottom:-80px;}
.flatcontent ul{margin-left:4%;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:0.5%;}
.flatcontent ul li{width:200px;background-color:#FCFCFC;border-radius:4px;border:solid 1px #29A2D2;margin-bottom:10px;padding:-15px;}
.galleryhome img{height:450px;}
.galleryhome h1{font-size:18px;}
.flatcontent ul li h1{color:#002F86;font-size:14px;padding-bottom:0px;font-family: 'Monda', sans-serif;}
.flatcontent{border-bottom:solid 2px #29A2D2;border-top:solid 2px #29A2D2;width:100%;height:380px;float:left;background-color:white;margin-top:-16px;}
.footer ul#socialf {margin-left:0%;width:60%;}
.footer a#phone{width:40%;position:absolute;margin: 106px 0% 0 10%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:18px;}
.footer a#mail{width:50%;position:absolute;margin: 90px 0% 0 -45%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:18px;}
.footer p{font-size:10px;padding-top:50px;}
.footerbottom h1{font-size:14px;padding-top:150px;padding-left:5px;padding-right:5px;}
.galleryhome h3#gallerylinks{font-size:20px;margin-top:-350px;}
.galleryhome a#gallerylinks{font-size:25px;margin-top:-290px;}
.galleryhome img#gallerylinks{position: relative;margin-top:-400px;width:70%;height:250px;
margin-left:14%;margin-right:14%;left:0;right:0;border:solid 1px white;
opacity: 0;filter: alpha(opacity=0);}
}
@media (max-width:414px) {
#container{margin-left:-9.8%;}
.hotbutton a{position: absolute;margin:0px -160px;padding:5px 10px;width:300px;background-color:#D72323;font-size:32px;color:#fff;border-radius:10px;}
.headline h1{font-size:22px;}
.headline {height:600px}
.browselist ul{padding:10px 3px;margin-top:-19px;background-color:#29A2D2;border-radius:0px;padding-bottom:50px;}
.browselist ul li {padding:5px 3px 5px 3px;}
.browselist ul li :hover{background-color:white;}
.browselist ul li a{font-family: 'Monda', sans-serif;font-size:12px;color:white;padding: 3px 3px 3px 3px;}
.browselist ul li a:hover{color:#29A2D2;font-weight:normal;font-size:12px;}
.browselist {margin-left:0%;Float:left;width:150px;padding-top:30px;text-align:left;margin-top:-43px;}
.boxtop {width:240px;height:300px;}
.boxpro {width:240px;}
.boxpro p{font-size:10px;margin-top:-30px;}
.box {width:240px;}
.box {width:240px;}
.box p{font-size:10px;margin-top:-30px;}
.box h1{font-size:16px;}
.box img{height:170px}
.boxpro img{height:100px;}
.flatcontent ul{margin-left:50px;margin-top:-20px;float:left;}
.flatcontent ul#row2{margin-left:50px;}
.flatcontent ul li{width:300px;}
.flatcontent {height:650px}
.galleryhome h3#gallerylinks{font-size:18px;margin-top:-350px;}
.galleryhome a#gallerylinks{font-size:20px;margin-top:-250px;}
.qualitybox{opacity:0;visibility:hidden;position:absolute;z-index:3005;width:80%;background-color:#F4F4F4;margin:100px 10%;border-radius:8px;min-height:200px;border:solid 2px #29A2D2; transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;}
.footer {height:700px}
.footer ul#socialf {margin-left:-30%;width:100%;}
.footer a#phone{width:40%;position:absolute;margin: 106px 0% 0 5%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:14px;}
.footer a#mail{width:50%;position:absolute;margin: 90px 0% 0 -45%;text-align:left;font-family: 'Alegreya Sans SC', sans-serif;color:white;font-size:14px;}
.footer a#pricequote{position:absolute;margin-top:140px;margin-left:-80px;padding:3px 5px;background-color:#D72323;font-size:18px;color:#fff;border-radius:5px;}
.footer h1{margin-left:40px;font-size:18px;}
.iconslist ul li{display:inline-block;height:120px;margin:15% 0.5% 10% 0.5%;}
.iconslist#thirdline ul li{display:inline-block;height:130px;margin:15% 1% 6% 1%;width:22%;}
.iconslist ul li p{display:none;}
.iconslist img#iconround{margin-left:0px;}
.iconslist ul li h1{margin-left:0px;margin-top:70px;}
.iconslist#thirdline img#iconround{margin-left:0px;}
.iconslist#thirdline ul li h1{margin-left:0px;margin-top:70px;}
.galleryhome h1{font-size:14px;}
#container li h3{font-size:20px;}
#container li h5{font-size:16px;padding-top:50px;}
.header2 a#log{width:70px;font-size:14px;margin-right:-10px;}
#Menu{font-size:14px;padding:3px 5px;}
#HideNav{font-size:14px;padding:3px 5px;}
#SmallNav ul{margin-left:50%;}
.social{margin-left:80%;}
.footerbottom h1{font-size:12px;padding-top:10px;padding-left:5px;padding-right:5px;}
}